body {
    /* Centrer la page */
    max-width: 1200px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
  }

  /* Grille des annonces */
  .grid {
    display: grid;                          /* Pour que ce soit en grille */
    grid-template-columns: repeat(3, 1fr); /* 3 images sur chaque ligne */
    gap: 10px;                              /* Espacement */
  }

  /* Limiter la taille des images */
  .grid img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 20px;
  }

  .grid figure {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
  }
  
  figcaption {
    margin-top: -20px;
  }
  
  figcaption h1 {
    margin: 5px 0;
  }
  
  figcaption p {
    margin: -5px 0;
  }
  

  header {
    font-family: 'Open Sans', sans-serif;
    padding: 15px 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

.right {
  display: flex;
  gap: 0px; /* Espacement entre les éléments */
  margin-left: auto; /* Pousse à droite */
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #1a6f2d;
}

.logo {
  width: 100%;
  max-width: 25px;
  height: auto;
}